<h1>Hello {{username}},</h1>
<p>Welcome to our awesome service! To register your account, please click 
    <a href="http://localhost:3000/users/verifyMail?email=deanmaja127@gmail.com">here</a> 
to continue using your account</p>